@import 'https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;700&display=swap';
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .link {
    @apply font-bold text-amber-400 underline underline-offset-2 dark:text-amber-400;
  }
}

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate3d(0, 0px, 0);
  }
  50% {
    transform: translate3d(0, 15px, 0);
  }
  100% {
    transform: translate3d(0, -0px, 0);
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
